.modBtn {
    border: 0;
    line-height: 1;
    height: 26px;
    width: 26px;
    padding: 0;
    border-radius: 50%;
    color: #fff;
}

.modBtnIncrease {
    background-color: #4fac5c;
}
.modBtnDecrease {
    background-color: #af2419;
}